trytond-account==3.4.2
trytond-account-invoice==3.4.1
trytond-account-invoice-history==3.4.1
trytond-account-invoice-stock==3.4.1
trytond-account-payment==3.4.1
trytond-account-product==3.4.1
trytond-analytic-account==3.4.1
trytond-analytic-invoice==3.4.1
trytond-analytic-purchase==3.4.1
trytond-analytic-sale==3.4.1
trytond-bank==3.4.1
trytond-company==3.4.1
trytond-country==3.4.1
trytond-currency==3.4.1
trytond-party==3.4.1
trytond-product==3.4.1
trytond-purchase==3.4.1
trytond-sale==3.4.1
trytond-stock==3.4.1
trytonar-account-invoice-ar==3.4.1
trytonar-account-coop-ar==3.4.0
trytonar-account-voucher-ar==3.4.0
trytonar-account-check-ar==3.4.1
trytonar-account-retencion-ar==3.4.0
trytonar-account-bank-ar==3.4.0
