trytond-account==3.2.4
trytond-account-asset==3.2.3
trytond-account-credit-limit==3.2.1
trytond-account-dunning==3.2.2
trytond-account-dunning-letter==3.2.2
trytond-account-invoice==3.2.3
trytond-account-invoice-history==3.2.1
trytond-account-invoice-line-standalone==3.2.1
trytond-account-invoice-stock==3.2.1
trytond-account-payment==3.2.2
trytond-account-payment-sepa==3.2.3
trytond-account-product==3.2.1
trytond-account-statement==3.2.1
trytond-analytic-account==3.2.2
trytond-analytic-invoice==3.2.1
trytond-analytic-purchase==3.2.1
trytond-analytic-sale==3.2.1
trytond-bank==3.2.1
vobject==0.8.1c # Quick-fix for versioning bug
trytond-calendar==3.2.2
trytond-calendar-classification==3.2.1
trytond-calendar-scheduling==3.2.1
trytond-calendar-todo==3.2.1
trytond-carrier==3.2.1
trytond-carrier-percentage==3.2.1
trytond-carrier-weight==3.2.2
trytond-company==3.2.1
trytond-company-work-time==3.2.1
trytond-country==3.2.1
trytond-currency==3.2.1
trytond-dashboard==3.2.1
trytond-google-maps==3.2.1
trytond-party==3.2.1
trytond-party-relationship==3.2.3
trytond-party-siret==3.2.1
trytond-party-vcarddav==3.2.1
trytond-product==3.2.1
trytond-product-attribute==3.2.1
trytond-product-cost-fifo==3.2.3
trytond-product-cost-history==3.2.1
trytond-product-measurements==3.2.1
trytond-product-price-list==3.2.1
trytond-production==3.2.2
trytond-project==3.2.1
trytond-project-invoice==3.2.2
trytond-project-plan==3.2.1
trytond-project-revenue==3.2.1
trytond-purchase==3.2.2
trytond-purchase-invoice-line-standalone==3.2.1
trytond-purchase-shipment-cost==3.2.1
trytond-sale==3.2.3
trytond-sale-credit-limit==3.2.1
trytond-sale-invoice-grouping==3.2.2
trytond-sale-opportunity==3.2.2
trytond-sale-price-list==3.2.1
trytond-sale-shipment-cost==3.2.1
trytond-sale-shipment-grouping==3.2.2
trytond-sale-supply==3.2.2
trytond-sale-supply-drop-shipment==3.2.2
trytond-stock==3.2.4
trytond-stock-forecast==3.2.2
trytond-stock-inventory-location==3.2.1
trytond-stock-location-sequence==3.2.1
trytond-stock-lot==3.2.1
trytond-stock-package==3.2.1
trytond-stock-product-location==3.2.1
trytond-stock-split==3.2.2
trytond-stock-supply==3.2.3
trytond-stock-supply-day==3.2.1
trytond-stock-supply-forecast==3.2.0
trytond-stock-supply-production==3.2.2
trytond-timesheet==3.2.1
trytond-timesheet-cost==3.2.1
